* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbffa6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: white;
    height: 385px;
    width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 10px 11px 0px rgba(0, 0, 0, 0.5);
}

.input {
    display: block;
    width: 82%;
    border: 1px solid black;
    margin: 9px;
    padding: 14px;
    border-radius: 5px;
}

.btn {
    width: 90%;
    border: none;
    margin: 9px;
    padding: 14px;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.img {
    padding: 6px;
    margin-bottom: 21px;
}